/* MAIN */
:root {
    --color-primary-red: hsl(0, 100%, 74%);
    --color-primary-green: hsl(154, 59%, 51%);
    --color-accent-blue: hsl(248, 32%, 49%);
    --color-neutral-dark-blue: hsl(249, 10%, 26%);
    --color-neutral-grayish-blue: hsl(246, 25%, 77%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    height: 100vh;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    font-size: 62.5%;
    /* 1rem=10px; 10px/16px default size=62.5% */
    line-height: 1.3rem;
    font-weight: 400;
    background-image: url(https://res.cloudinary.com/kreiva/image/upload/v1648627825/FrontendMentor/bg-intro-desktop_evcn0o.png);
    background-color: var(--color-primary-red);
}
.wrapper {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 0 15rem;
}

/* LEFT SIDE */
.left {
    width: 43%;
    color: white;
    margin: auto;
}
.title {
    font-size: 500%;
    line-height: 3.5rem;
    padding-bottom: 3rem;
}
.text {
    font-size: 180%;
    line-height: 1.8rem;
}

/* RIGHT SIDE */
.right {
    width: 47%;
    margin: auto;
}
.popup {
    width: 100%;
    background-color: var(--color-accent-blue);
    box-shadow: 0px 8px rgba(0, 0, 0, 0.171);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 150%;
    text-align: center;
    margin-bottom: 2rem;
}
.card {
    width: 100%;
    background-color: white;
    box-shadow: 0px 8px rgba(0, 0, 0, 0.171);
    border-radius: 0.5rem;
    padding: 3rem;
}

.input__success {
    width: 100%;
    padding: 1rem;
    padding-left: 2rem;
    margin-bottom: 1.2rem;
    display: inline-block;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-weight: 700;
}

.input__success:focus {
    outline: none;
    border: 1px solid var(--color-accent-blue);
}

.button {
    width: 100%;
    background-color: var(--color-primary-green);
    box-shadow: 0px 4px hsl(154, 58%, 45%);
    color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    font-size: 160%;
    font-weight: 600;
    text-align: center;
    margin-bottom: 1rem;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
}

.terms {
    text-align: center;
    color: var(--color-neutral-grayish-blue);
    font-weight: 500;
}
.link {
    color: var(--color-primary-red);
    font-weight: 700;
    text-decoration: none;
}

.error {
    width: 100%;
    padding: 1rem;
    padding-left: 2rem;
    margin-bottom: 1.2rem;
    display: inline-block;
    border: 2px solid var(--color-primary-red);
    border-radius: 5px;
    font-weight: 700;
    color: var(--color-primary-red);
    background-image: url(https://res.cloudinary.com/kreiva/image/upload/v1648627824/FrontendMentor/icon-error_o2yqzj.svg);
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.error:focus {
    outline: none;
    border: 1px solid var(--color-accent-blue);
    background-image: none;
    color: black;
}
